* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root {
  --text-color: #ededed;
}
html {
  font-size: 62.5%;
}
body {
  color: var(--text-color);
  font-size: 1.6rem;
}
.back {
  display: flex;
  background-color: beige;
  width: 70%;
  margin: 10rem 17rem;
}
.body-left {
  width: 40%;
  height: 100%;
  background-color: #1f242d;
}
.body-left .main-content {
  padding-left: 5rem;
  padding-top: 4rem;
  padding-right: 2rem;
  padding-bottom: 5rem;
}
.name {
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.field {
  display: flex;

  padding-top: 1.5rem;
}
.field-text {
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 1rem;
}
.location {
  padding-top: 1rem;
  display: flex;
}
.text-location {
  padding-left: 1.1rem;
  width: 133px;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.field-icon {
  width: 10px;
  height: 6px;
  flex-shrink: 0;
  background: #d67215;
}
.edu-title {
  padding-top: 3rem;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.575px;
}
.split-line {
  margin-top: 1rem;
  width: 26px;
  height: 1px;
  flex-shrink: 0;
  background-color: var(--text-color);
}
.title {
  margin-top: 2rem;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.course h4 {
  padding-top: 0.7rem;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.skill-title {
  padding-top: 3rem;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.575px;
}
/* .skill-info ul {
  padding-top: 1rem;
} */
.skill-info li {
  padding-left: 10px;
  padding-bottom: 0.6rem;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.skill-info li::before {
  content: "• "; /* Biểu tượng đầu dòng */
}
.body-right {
  margin-top: 3rem;
  margin-left: 4rem;
  width: 60%;
}
.contact {
  margin-top: 3rem;
  margin-left: 5rem;
}
.mail {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.phone {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.linkin {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.click-to-send {
  font-size: 1.5rem;
  font-weight: 600;
  color: #16222a;
  text-decoration: none;
}
.click-to-send:hover {
  color: black;
}
.contact h6 {
  padding-left: 2rem;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact img {
  width: 15x;
  height: 15px;
}
.photo img {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  object-fit: cover;
}
.body-right .top {
  display: flex;
}
.bottom {
  padding-right: 5rem;
}
.bottom h4 {
  padding-top: 1.5rem;
  padding-right: 4rem;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.job-exp .title {
  padding-top: 1.5rem;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.job-exp .detail {
  margin-top: 0.3rem;
  display: flex;
}
.job-exp .company {
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.job-exp .detail .duration {
  text-align: right;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: auto;
}
ul {
  margin-top: 1rem;
}
.skill-list li {
  padding-bottom: 0.6rem;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: circle;
}
.body-right {
  color: #16222a !important;
}
.contact-btn {
  border: solid 1px #0ef;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #1f242d;
  padding: 12px 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 0 15px rgba(0, 238, 255, 0.5);
}
.contact-btn i {
  color: #0ef;
}
.contact-btn span {
  color: #0ef;
}
.contact-btn a {
  text-decoration: none;
}
