* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.back {
  display: flex;
  background-color: beige;
  width: 70%;
  margin: 10rem 17rem;
  height: 800px;
}
.body-left {
  width: 40%;
  height: 100%;
  background-color: #e8eaee;
}
.body-left .main-content {
  padding-left: 5rem;
  padding-top: 4rem;
  padding-right: 2rem;
}
.name {
  color: #5c6168;
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.field {
  display: flex;

  padding-top: 1.5rem;
}
.field-text {
  color: #5c6168;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 1rem;
}
.location {
  padding-top: 1rem;
  display: flex;
}
.text-location {
  padding-left: 1.1rem;
  width: 133px;
  color: #5c6168;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.field-icon {
  width: 10px;
  height: 6px;
  flex-shrink: 0;
  background: #d67215;
}
.edu-title {
  padding-top: 3rem;
  color: #5c6168;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.575px;
}
.split-line {
  margin-top: 1rem;
  width: 26px;
  height: 1px;
  flex-shrink: 0;
  background-color: #5c6168;
}
.course .title {
  margin-top: 2rem;
  color: #5c6168;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.course h4 {
  padding-top: 0.7rem;
  color: #5c6168;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.skill-title {
  padding-top: 3rem;
  color: #5c6168;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.575px;
}
.skill-info ul {
  padding-top: 2rem;
}
.skill-info li {
  padding-bottom: 0.6rem;
  color: #5c6168;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: circle;
}
.body-right {
  margin-top: 3rem;
  margin-left: 4rem;
  width: 60%;
}
.contact {
  margin-top: 6rem;
  margin-left: 5rem;
}
.mail {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.phone {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.linkin {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.contact h6 {
  padding-left: 2rem;
  color: #5c6168;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact img {
  width: 15x;
  height: 15px;
}
.photo img {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  object-fit: cover;
}
.body-right .top {
  display: flex;
}
.bottom {
  padding-right: 5rem;
}
.bottom h4 {
  color: #5c6168;
  padding-top: 1.5rem;
  padding-right: 4rem;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.job-exp .title {
  padding-top: 1.5rem;
  color: #5c6168;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.job-exp .detail {
  margin-top: 0.3rem;
  display: flex;
}
.job-exp .company {
  color: #5c6168;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.job-exp .detail .duration {
  color: #5c6168;
  text-align: right;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: auto;
}
ul {
  margin-top: 1rem;
}
.skill-list li {
  padding-bottom: 0.6rem;
  color: #5c6168;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: circle;
}
